.waitForData {
    color: #ff9366;
    position: static;
    width: 119px;
    height: 12px;
    left: 24px;
    top: 2px;
}

.deleteIcon {
    color: white;
    position: relative;
    width: 119px;
    height: 25px;
    left: 70%;
    top: 2px;
}
