.serv ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .serv ul li {
    list-style: none;
    flex: 0 0 33.333333%;
  }


.microserviceViewCard {
  .bottomBar {
    padding: 8px 16px;
    display: flex;
    flex-wrap: wrap;
  }

  .left, .right {
    flex-basis: 50%;
  }

  .right {
    text-align: right;
  }
}
