.microserviceViewCard {
  .bottomBar {
    padding: 8px 16px;
    display: flex;
    flex-wrap: wrap;
  }

  .left, .right {
    flex-basis: 50%;
    flex: 1;
  }

  .right {
    text-align: right;
  }

  a {
    color: #6678F6;
  }
}
