.github
.vscode
Environment
images
Info
node_modules
Dockerfile
**/bin
**/obj
**/Build
**/Artifacts
**/node_modules
**/package-lock.json
**/yarn.lock
**/Dockerfile
**/wwwroot
**/build
**/Distribution
**/dist
