@import './globals.scss';

body {
    background: #333 url($app-background-image) center/cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;   
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    top:  $app-header-height + $top-level-menu-height;
    height: calc(100vh);
    width: 12rem; 
    background-color: $navigation-color;
}
