@import "./globals.scss";
@import "./acrylic.scss";

.main-content {
    @extend .acrylic;
    position: absolute;
    top: $app-header-height + $top-level-menu-height;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    left: 12.5rem;

    width: calc(100% - 20rem);
    height: calc(100% - 13rem);
}

.iframe-container {
    position: relative;
    width: calc(100%);
    height: calc(100%);
    margin: 0;
    padding: 0;

    iframe {
        left: 0;
        top: 0;
        width: calc(100%);
        height: calc(100%);
        border: 0;
        position: absolute;
    }
}
