.html, body, .with-sidebar {
    height: 100%;
    margin: 0;
}

.with-sidebar > * {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }

  .with-sidebar > * > * {
    /* ↓ applies to both elements */
    margin: 0rem;
    padding: 1rem;
  }

  .sidebar {
    flex-basis: 20rem;
    flex-grow: 1;
    background-color:#191A21;
    flex: 0 0 200px;
    align-self: stretch;
  }

  .sidebar ul {
    list-style-type: none;
  }

  .sidebar a {
    color: #ffffff;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
  }

  .not-sidebar {
    /* ↓ grow from nothing */
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(50% - 1rem);
    background-color: #0F1014;
    padding-inline: 44px;
    padding-block-start: 22px;
  }
