#topNavBar {
    .nav {
        display: flex;
        margin: 0;
        min-height: 56px;
        // step 3
        align-items: center;
    }

    .row {
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .left,
    .middle,
    .right {
        flex: 1;
    }

    .middle {
        text-align: center;
    }

    .right {
        text-align: right;
    }

    // below is for demonstration purpose
    $height: 50px;
    $minWidth: 200px;

    .flex-end {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-self: flex-start;
    }

    .flex-start {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .row {
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;

        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
    }
    .NavbarColor {
        // background-color: #202229;
        // color: #202229;
        background: transparent;
    }

    .NewApplication {
        width: 15%;
        margin-right: 7%;
        background: transparent;
    }

    .envTitle {
        color: white;
        margin-top: -2%;
        width: auto;
    }
}
