@import '~@shared/styles/theme.scss';
// @import "~@shared/styles/acrylic.scss";

$panel-color: rgba(darken($ms-color-white, 20%), 0.6);
$panel-border-color: rgba($ms-color-white, 0.5);
$panel-height: 10rem;

.panel {
    // outline: solid red 2px;
    border: solid $panel-border-color 2px;
    background-color: $panel-color;
    // width:100%;
    min-height: $panel-height;
    padding: 1rem;

    .panelBody {
        border-left: solid $ms-color-black 2px;;
        // height: $panel-height;

        .panelHeader {
            font-size: 1.5em;
            text-transform: uppercase;
            font-weight: normal;
            letter-spacing: 0.2em;
            margin-left: 1rem;
            margin-top: 0;
        }

        .panelContent {
            margin-left: 1rem;
        }

    }
}

