.breadcrumbs {
    a {
        color: #ffffff;
        white-space: nowrap;
        text-decoration: none;
        text-transform: capitalize;
    }

    a:not(:first-child):last-child {
        font-weight: bolder;
    }
}
