<!-- Copyright (c) Dolittle.  All Rights Reserved.  Licensed under the MIT License. See LICENSE file in the project root for full license information. -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            <%- htmlWebpackPlugin.options.metadata.title %>
        </title>

        <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
        <link rel="icon" href="assets/favicons/favicon.svg">
        <link rel=”mask-icon” href=”assets/favicons/safary-mask-icon.svg” color="#ff6f33">
        <link rel="apple-touch-icon" href="assets/favicons/apple-touch-icon.png">
        <link rel="icon" href="favicon.ico">

        <meta name="theme-color" content="#1D2025">

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body style="background-color: #0F1014">
        <div id="root"></div>
        <% if (htmlWebpackPlugin.options.metadata.server) { %>
            <!-- Webpack Dev Server reload -->
            <script src="/webpack-dev-server.js"></script>
            <% } %>
    </body>
</html>
